<div class="container">
    <mat-card class="logincard" fxFlex=40>
        <div fxLayout="column" fxLayoutAlign="space-between center">
            <div>
                <mat-card-subtitle class="title">Login Page</mat-card-subtitle>
            </div>
        </div>
        <mat-card-content class="cardcontaint">
            <div fxLayout="column" fxLayoutAlign="space-between center">
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Enter your email</mat-label>
                        <input matInput placeholder="Email" [formControl]="email"
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                        <mat-icon matSuffix><img src="../../../assets/baseline-email-24px.svg"> </mat-icon>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="input-style">
                        <mat-label>Enter your Password</mat-label>
                        <input type="password" matInput placeholder="Password" [type]="!hide ? 'password' : 'text'"
                            [formControl]="password" required>
                        <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <div> <button mat-raised-button color="primary" (click)='login()'> Login </button></div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>